// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.thumbnail{
    width: 200px;
    height: 200px;
}
.task-img{
    width: 80px;
    aspect-ratio: 1;
}
