
html {
line-height: 1.15;
-webkit-text-size-adjust: 100%
}


@media (min-width:640px) {
.sm\:rounded-lg {
    border-radius: .5rem
}

.sm\:block {
    display: block
}

.sm\:items-center {
    align-items: center
}

.sm\:justify-start {
    justify-content: flex-start
}

.sm\:justify-between {
    justify-content: space-between
}

.sm\:h-20 {
    height: 5rem
}

.sm\:ml-0 {
    margin-left: 0
}

.sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.sm\:pt-0 {
    padding-top: 0
}

.sm\:text-left {
    text-align: left
}

.sm\:text-right {
    text-align: right
}
}

@media (min-width:768px) {
.md\:border-t-0 {
    border-top-width: 0
}

.md\:border-l {
    border-left-width: 1px
}

.md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}
}

@media (min-width:1024px) {
.lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}
}

@media (prefers-color-scheme:dark) {
.dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}

.dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity))
}

.dark\:border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity))
}

.dark\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

.dark\:text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
}
body {
font-family: 'Nunito', sans-serif;
}

.postform{
    margin: auto;
    width: 300px;
    display: flex;
    gap: .3em;
    flex-direction: column;
    padding: .5em;
    border: 1px solid black;
    border-radius: 5px;
}
.postform>input{
    width: 100%;
    height: 40px;
    border: 1px solid grey;
    padding-inline: 5px;
    border-radius: 5px;
}
.postform>input[type='submit']{
    background-color: rgb(82, 195, 82);
    font-size: medium;
    font-weight: bold;
    color: #e2e8f0;
}
.view{
    color: rgb(95, 95, 220);
}
.add{
    color: rgb(109, 205, 109);
    text-align: center;
}
.delete{
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(215, 80, 80);
    color: white;
    font-weight: bold;
}